{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5>{{ "backend.catalog.listing"|trans }}</h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "backend.catalog.list_items"|trans }} du {{ jobLog.moment|date("d/m/Y") }}</h2>
                        <!--
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="{{ path('app_admin_new_catalog') }}" class="btn btn-success">{{ "backend.global.btn_add"|trans }}</a>
                            </li>
                        </ul>
                        -->
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <!--
                            <form action="{{ path('app_admin_groupaction_blogPost') }}" id="grpaction" method="post" name="grpaction">
                                <div class="form-group form-inline">
                                    {%  if is_granted("ROLE_EDITORIAL") %}
                                        <select class="form-control" name="action" required id="action_select">
                                            <option value="">{{ "backend.global.action_select.none"|trans }}</option>
                                            <option value="desactiver">{{ "backend.global.action_select.disable"|trans }}</option>
                                            <option value="activer">{{ "backend.global.action_select.enable"|trans }}</option>
                                            <option value="supprimer">{{ "backend.global.action_select.delete"|trans }}</option>
                                        </select>
                                        <button class="btn btn-primary" type="submit">{{ "backend.global.action_select.submit"|trans }}</button>
                                    {% endif %}
                                </div>
                            </form>
                            -->
                            <table id="example" class="display table table-striped table-bordered {% if is_granted("ROLE_EDITORIAL") %} dataminetables {% else %} datanotminetables {% endif %}" >
                                <thead>
                                {% if is_granted("ROLE_EDITORIAL") %}
                                    <!-- <th><input type="checkbox" id="select_all" name="select_all"></th> -->
                                {% endif %}
                                <th>{{ "backend.catalog.table.reference"|trans }}</th>
                                <!-- <th>{{ "backend.catalog.table.brand"|trans }}</th> -->
                                <!-- <th>{{ "backend.category.form.title"|trans }}</th> -->
                                <th>{{ "backend.catalog.table.qty"|trans }}</th>
                                <th>{{ "backend.catalog.table.origin"|trans }}</th>
                                <th>{{ "backend.catalog.table.dot"|trans }}</th>
                                <th>{{ "backend.catalog.table.price"|trans }}</th>
                                
                                {% if is_granted("ROLE_EDITORIAL") %}
                                    <th>{{ "backend.catalog.table.status"|trans }}</th>
                                    <th>{{ "backend.catalog.table.edit"|trans }}</th>
                                    <th>{{ "backend.catalog.table.delete"|trans }}</th>
                                {% endif %}
                                </thead>
                                <tbody>
                                {% for product in catalog  %}
                                    <tr>
                                        {% if is_granted("ROLE_EDITORIAL") %}
                                            <!-- <td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ product.id }}"></td> -->
                                        {% endif %}
                                        <td>{{ product.name }}</td>
                                        <!-- <td>{{ product.brand }}</td> -->
                                        <!-- <td>{{ product.category }}</td> -->
                                        <!-- <td>{{ product.quantity }}</td> -->
                                        <td class="text-center">
                                            {% if product.quantity > 4 %}
                                                +4
                                            {% else %}
                                                {{ product.quantity }}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ product.origin }}</td>
                                        <td>{{ product.dot }}</td>
                                        <td><!-- {{ product.price }} -->N.D</td>
                                        {% if is_granted("ROLE_EDITORIAL") %}
                                            <td>
                                                {%  if product.published %}
                                                    <a class="btn btn-success activate-link" href="{{ path('app_admin_disable_catalog', {'id': product.id}) }}"> <i class="fa fa-check"></i></a>
                                                {% else %}
                                                    <a class="btn btn-warning activate-link" href="{{ path('app_admin_enable_catalog', {'id': product.id}) }}"> <i class="fa fa-times"></i></a>
                                                {% endif %}
                                            </td>
                                            <td><a class="btn btn-primary" href="{{ path('app_admin_edit_catalog',{'id':product.id}) }}"><i class="fa fa-edit"></i></a></td>
                                            <td><a href="{{ path('app_admin_delete_catalog', {'id': product.id}) }}" class="btn btn-danger disable-btn del-link" type="submit" ><i class="fa fa-trash"></i></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
